<% title "Task: " + h(@task.title) -%>

<p><%=h(@task.description).gsub!(/\n/, '<br />') %></p>

<p>
  <b>Status:</b>
  <%=h @task.status %>
</p>

<p>
  <b>Owner:</b>
  <%=h @task.owner.name %>
</p>

<p>
  <b>Priority:</b>
  <%=h @task.priority %>
</p>

<p>
  <b>Progress:</b>
  <%=h @task.progress %>
</p>

<p>
  <b>Started at:</b>
  <%=h @task.started_at %>
</p>

<p>
  <b>Ended at:</b>
  <%=h @task.ended_at %>
</p>

<p>
  <b>Project:</b>
  <%=h @task.project.name %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
