<% form_for(@customer) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone_country_code, :size => 3 %>
    <%= f.text_field :phone_area_code, :size => 3 %>
    <%= f.text_field :phone_number, :size => 10 %>
  </p>
  <p>
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </p>
  <p>
    <%= f.submit @customer.new_record? ? "Create" : "Update" %>
  </p>
<% end %>
