<p>
  <b>Name:</b>
  <%=h @customer.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @customer.description %>
</p>

<p>
  <b>Phone:</b>
  <%=h @customer.phone %>
</p>

<p>
  <b>Rating:</b>
  <%=h @customer.rating %>
</p>
<% unless @customer.projects.empty? %>
  <p>
    <b>Projects:</b>
    <ul>
      <% @customer.projects.each do |project| %>
        <li><%=h project.name %>
      <% end %>
    </ul>
  </p>
<% end %>

<% unless @customer.contracts.empty? %>
  <p>
    <b>Contracts:</b>
    <ul>
      <% @customer.contracts.each do |contract| %>
        <li><%=h contract.name %> -> <%=h contract.project.name %></li>
      <% end %>
    </ul>
  </p>
<% end %>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
