<% form_for(@project) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :customer %><br />
    <%= f.select :customer_id, @customers, :prompt => "Select..." %>
  </p>
  <p>
    <b>Members</b><br />
    <% @users.each do |user| %>
      <%= check_box_tag "project[member_ids][]", user.id, @project.members.include?(user) %>
      <%= user.name %><br />
    <% end %>
  </p>

  <p>
    <%= f.submit @project.new_record? ? "Create" : "Update" %>
  </p>
<% end %>
