<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Customer:</b>
  <%=h @project.customer.name %>
</p>

<% unless @project.tasks.empty? %>
  <p>
    <b>Tasks:</b>
    <ul>
      <% @project.tasks.each do |task| %>
        <li><%=h task.title %> - <%=h task.owner.name %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<% unless @project.members.empty? %>
  <p>
    <b>Members:</b>
    <ul>
      <% @project.members.each do |member| %>
        <li><%=h member.name %></li>
      <% end %>
    </ul>
  </p>
<% end %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
